<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ng if, visiblity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-avatar class="avatar">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <div>
        <ion-button (click)=" followChange()">{{followbtn}}</ion-button>
        <ion-button *ngIf="random">ng if test case </ion-button>
      </div>
      
     
   </ion-card-content>
  </ion-card>
</ion-content>
