<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ng if, visiblity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-avatar class="avatar">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <div>
        <ion-button (click)=" followChange()">{{followbtn}}</ion-button>
        <ion-button *ngIf="random">ng if test case </ion-button>
      </div>
     <div>
      <ng-component *ngIf="random; then red; else blue">
        
      </ng-component>
      <ng-template #red>
           <ion-button  >red hello</ion-button> 
        </ng-template>
        <ng-template  #blue>
          <ion-button >blue hello2</ion-button> 
       </ng-template>
     </div>
     
   </ion-card-content>
  </ion-card>
</ion-content>
