<!DOCTYPE html>
<ion-header>
  <ion-toolbar>
    <ion-title>Product Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../assets/images/rachit-tank-2cFZ_FB08UM-unsplash.jpg" alt="Samsug watch pic"></ion-img>

    <ion-card-header>
      <ion-card-title>Samsung Galaxy Watch 6</ion-card-title>
      <ion-card-subtitle>The Samsung Galaxy Watch 6 stands as a testament to cutting-edge wearable
        technology</ion-card-subtitle>
    </ion-card-header>
    <div class="Rating">
      <p style="padding: 0px 20px;">Rating : 4.0</p>
      <div class="stars">
        <ion-icon name="Star" size="small" color="primary"></ion-icon>
        <ion-icon name="Star" size="small" color="primary"></ion-icon>
        <ion-icon name="Star" size="small" color="primary"></ion-icon>
        <ion-icon name="Star" size="small" color="primary"></ion-icon>
        <ion-icon name="Star" size="small"></ion-icon>
      </div>

    </div>

    <h3 style="padding: 0px 20px 0px 20px">Description</h3>

    <ion-card-content>
      The Galaxy Watch 6 features a refined and elegant design, with a durable stainless steel frame and customizable
      watch faces. Its vivid Super AMOLED display ensures crisp and clear visuals, making it easy to navigate through
      apps,
      notifications, and more, even in bright sunlight.
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Footer Toolbar</ion-title>
  </ion-toolbar>
</ion-footer>
