<ion-header>
  <ion-title class="ion-padding">Home Page</ion-title>
</ion-header>
<ion-content class="body">
 <div  class="homePageButtons">
  <ion-button shape="round" class="homePageButton" routerLink="/mainpage">Main Page</ion-button>
  <ion-button shape="round" class="homePageButton" routerLink="/page1">Page 1</ion-button>
  <ion-button shape="round" class="homePageButton">Round</ion-button>
  <ion-button shape="round" class="homePageButton">Round</ion-button>
  <ion-button shape="round" class="homePageButton">Round</ion-button>
 </div>
 
</ion-content>
<ion-footer>
  <ion-title>footer</ion-title>
</ion-footer>
