#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }


 .displayedItem{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
 } 
 .displayedItemImg{
    height: 50px;
    width: 50px;
 }
 .homePageButtons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
 }
 .body{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 .homePageButton{
   height: 4em;
   width:  10em;
 }
 

 