<ion-card>
  <img alt="Silhouette of mountains" src="../../assets/images/rachit-tank-2cFZ_FB08UM-unsplash.jpg" />
  <ion-card-header>
    <ion-card-title>Samsung Galaxy Watch 6</ion-card-title>
    <ion-card-subtitle>The Samsung Galaxy Watch 6 stands as a testament to cutting-edge wearable</ion-card-subtitle>
  </ion-card-header>
  <h3 style="padding: 0px 20px 10px 20px">Description</h3>

  <ion-card-content>
    The Galaxy Watch 6 features a refined and elegant design, with a durable stainless steel frame and customizable
    watch
    faces. Its vivid Super AMOLED display ensures crisp and clear visuals, making it easy to navigate through apps,
    notifications, and more, even in bright sunlight. </ion-card-content>
</ion-card>